@{
    ViewBag.Title = "Home Page";
}

<!-- kad vēlamies izsaukt C# kodu, lietojam at simbolu -->

<div class="row">
    <div class="col-md-12">
        <h2>
            Esi sveicināts kaķu iepazīšanās portālā. Lai apskatītu kaķus spied uz "Apskatīt kaķus" linka
        </h2>
    </div>
</div>
